.header {
    background-color: #002060;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  
.search-bar {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

  .header img {
    width: 60px;
    vertical-align: middle;
    margin-right: 18px;
  }
  
  .header h1 {
    display: inline-block;
    color: #C3943A;
    margin: 0;
    font-size: 24px;
    vertical-align: middle;
  }
  
  .header h2 {
    margin: 0;
    color: white;
    font-size: 22px;
    font-weight: normal;
  }
  
  .alumno-container {
    flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
    padding: 20px;
    text-align: center;
    background-color: white;
    position: relative;
  }
  
  h3, h4 {
    color: hwb(220 0% 62%);
  }
  
  .info {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .alumno-scrollable-table {
    max-height: 370px;
    overflow-y: auto;
  }
  
  .alumnos-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    text-align: left;
  }
  
  .alumnos-table, th, td {
    border: 1px solid #ccc;
  }
  
  .alumnos-table th, td {
    padding: 10px;
    text-align: center;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px; /* Añade espacio entre los botones */
}


  
  .alumnos-table th {
    background-color: #002060;
    color: white;
  }
  
  .close-session {
    float: right;
    margin-top: -30px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  .close-session:hover {
    background-color: #e0e0e0;
  }

  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon-button svg {
    width: 20px;
    height: 20px;
  }
  
  .add-delete-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .add-delete-buttons button {
    background-color: #002060;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-delete-buttons button:hover {
    background-color: #00308f;
  }
  
  
.logout-button:hover {
  background-color: #d32f2f; /* Color de fondo al pasar el cursor */
}
.status-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.yellow {
  background-color: yellow;
}

.gray {
  background-color: gray;
}

.green {
  background-color: green;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.add-delete-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}