
.header {
    background-color: #002060;
    color: white;
    text-align: center;
    padding: 10px;
}

.header img {
    width: 80px;
    vertical-align: middle;
    margin-right: 20px;
}

.header h1 {
    display: inline-block;
    margin: 0;
    font-size: 24px;
    vertical-align: middle;
}

.header h2 {
    margin: 5px 0 0 0;
}

.container {
    background-color: white;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    max-width: 800px;
    text-align: center;
    position: relative; /* Agregar esta línea */
}

.buttons {
    text-align: center;
}

button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
}

button:hover {
    background-color: #0055a5;
}

.logout-button {
    background-color: #f44336; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 12px; /* Bordes redondeados */
  }
  
  .logout-button:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el cursor */
  }