/* App.css o styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  background-color: #e0e0e0;
  color: #000000;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  width: 100%;
}

/* Ajuste dinámico del tamaño lateral del pie de página */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%; /* Ajusta el ancho máximo según el tamaño de la página */
  margin: 0 auto; /* Centra el contenedor */
  padding: 0 5%; /* Ajusta el padding dinámicamente */
}

.footer-content {
  flex: 1;
  text-align: center;
}

.footer-image-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image-1 img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin: 0 10px;
}

.footer-image-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image-2 img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin: 0 10px;
}

/* Media query para versiones móviles */
@media (max-width: 768px) {
  .footer {
    width: 100%;
    min-width: 380px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0 0 10px 10px;
    font-size: 13px;
    padding: 10px 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .footer-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  .footer-content {
    text-align: center;
  }
  .footer-image-1,
  .footer-image-2 {
    display: block;
    margin: 0 auto;
  }
  .footer-image-1 img, .footer-image-2 img {
    width: 80px;
    margin: 5px;
  }
}