/* App.css o styles.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  position: fixed; /* Fija el pie de página en la parte inferior */
  bottom: 0; /* Asegura que esté en la parte inferior */
  left: 0; /* Alinea al borde izquierdo */
  right: 0; /* Alinea al borde derecho */
  background-color: #e0e0e0;
  color: #000000;
  text-align: center;
  padding: 20px; /* Ajusta el padding */
  font-size: 14px; /* Ajusta el tamaño de fuente */
  width: 100%;
  height: auto; /* Permite que el tamaño sea dinámico */
}

.footer.hidden {
  transform: translateY(100%); /* Oculta el pie de página desplazándolo hacia abajo */
  transition: transform 0.3s ease; /* Añade una transición suave */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el contenedor */
  padding: 0 20px; /* Ajusta el padding lateral */
}

.footer-content {
  flex: 1;
  text-align: center;
}

.footer-image-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image-1 img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin: 0 10px;
}

.footer-image-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image-2 img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin: 0 10px;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .footer {
    position: fixed; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Asegura que esté en la parte inferior */
    left: 0; /* Alinea al borde izquierdo */
    right: 0; /* Alinea al borde derecho */
    background-color: #e0e0e0;
    color: #000000;
    text-align: center;
    padding: 5px; /* Reduce el padding para hacerlo más delgado */
    font-size: 10px; /* Reduce el tamaño de fuente */
    width: 100%;
    height: auto; /* Ajusta dinámicamente el tamaño */
    transform: translateY(100%); /* Oculta el pie de página por defecto */
    transition: transform 0.3s ease; /* Añade una transición suave */
  }

  .footer-container {
    padding: 0 10px; /* Reduce el padding lateral */
  }
}