.validacion-layout {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 200px; /* Ajusta el ancho de las barras laterales */
    background-color: #e0e0e0; /* Color de fondo de las barras laterales */
  }
  
  .validacion-container {
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
  }
  
  .validacion-container h1{
   margin-top: -40px
  }

  .validacion-container h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #002a5c;
  }

  .validacion-container h3 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000000;
  }

  .validacion-container p {
    color: #555;
    text-align: left;
  }

  .center-text { 
    text-align: center;
  }

  .left-text { 
    text-align: left;
  }

  .right-text { 
    text-align: right;
  }

  .same-line {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Centra el contenido horizontalmente */
    margin-top: 60px;
  }
  
  .same-line h3,
  .same-line p {
    margin: 0; /* Elimina los márgenes predeterminados */
    font-size: 1.5rem; /* Ajusta el tamaño según tus necesidades */
  }
  
  .same-size {
    font-size: inherit; /* Hereda el tamaño de la fuente del <h3> */
    margin-left: 10px;
  }
  

  .validacion-buttons {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-top: 20px;
  }
  
  .file-upload-container {
    display: flex;
    align-items: center;
  }
  
  .archivo-mensaje {
    margin-left: 10px; /* Espacio entre el botón y el mensaje */
    font-size: 1rem;
    color: #555;
  }
  
  .archivo-info {
    margin-top: 20px; /* Espacio adicional para la sección de archivo */
  }
  
  
  .file-upload-container {
    display: flex;
    align-items: center;
  }
  
  .archivo-mensaje {
    margin-left: 10px; /* Espacio entre el botón y el mensaje */
    font-size: 1rem;
    color: #555;
  }
  

  .button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #002a5c;
    color: white;
    border: none;
    cursor: pointer;
  }

  
  .button:hover {
    background-color: #003a8c;
  }

  .button-validar {
    padding: 5px 20px;
    font-size: 1rem;
    background-color: #838383;
    color: white;
    border: none;
    cursor: pointer;
  }

  
  .button-validar:hover {
    background-color: #424242;
  }

  .top-right {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .logout-button {
    background-color: #f44336; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 12px; /* Bordes redondeados */
  }
  
  .logout-button:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el cursor */
  }

  
  .validacion {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #002a5c;
    color: white;
    border: none;
    cursor: pointer;
  }

  
  .validacion:hover {
    background-color: #003a8c;
  }